* { 
  margin: 0;
  padding: 0
}

header {
  position:sticky;
  width:100%;
  z-index:100;
  background-color: black;
  font-size: 20px;
}

div.container {
  padding-right: 20px;
  display:flex;
  justify-content: space-between;
  color:white;
}

nav a {
  padding:20px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  display: inline-block;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  padding-right: 10px;
  padding-left: 10px;
  background-color: lightgray;
  color:black;
  border-radius: 6px;
}

.headerTitle {
  margin: 15px;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
  color: white;
}